APP_PORT=3000
MODE=development # or production

DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USER=user
DATABASE_PASSWORD=password
DATABASE_NAME=yourdb
DATABASE_SYNCHRONIZE=true #FALSE ON PROD
RUN_MIGRATIONS=true # careful

BOT_TOKEN= #your token from Gobfather in telegram
ADMIN_TELEGRAM_ID= #Your chat id